<h1>Список специалистов</h1>

<table id="table">
  <thead>
  <tr>
    <th>ФИО</th>
    <th>Логин</th>
    <th>Пароль</th>
    <th>Режим работы</th>
    <th>Номер кабинета</th>
    <th>Функции</th>
  </tr>
  </thead>
  <tbody>
    <% @specialists.each do |specialist| %>
      <tr>
        <td><%= specialist.fio %></td>
        <td><%= specialist.login %></td>
        <td><%= specialist.password %></td>
        <td><%= specialist.mode_id %></td>
        <td><%= specialist.room %></td>
        <td>
            <%= link_to 'Редактировать', edit_specialist_path(specialist) %>
            <%= link_to 'Удалить', specialist, method: :delete, data: { confirm: 'Вы уверены?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Добавить нового специалиста', new_specialist_path %>
