<p id="notice"><%= notice %></p>

<p>
  <b>ФИО:</b>
  <%= @specialist.fio %>
</p>

<p>
  <b>Логин:</b>
  <%= @specialist.login %>
</p>

<p>
  <b>Пароль:</b>
  <%= @specialist.password %>
</p>

<p>
  <b>Режим работы:</b>
  <%= @specialist.mode_id %>
</p>


<%= link_to 'Редактировать', edit_specialist_path(@specialist) %> |
<%= link_to 'Назад', specialists_path %>
